{% extends 'base.html' %}
{% block content %}


<div class="centered-form">
    <h2>パスワードのリセット</h2>
    <p>下記にメールアドレスを入力してください。</p>
    <p>パスワードのリセットに必要なメールをお送りいたします。</p>


    <form method="post">
        {% csrf_token %}
        <input type="email" 
               name="email" 
               id="id_email"
               class="email-input"
               placeholder="例：admin@example.com"
               required><br>
        <button type="submit" class="btn-primary big-action-btn">送信する</button>
    </form>

    <a href="{% url 'app:home' %}" class="form-link">ログイン画面に戻る</a>
</div>

{% endblock %}