{% extends 'base.html' %}
{% block content %}
<h2>新しいパスワードの設定</h2>

{% if validlink %}
<p>新しいパスワードを２回入力してください。</p>


<form method="POST">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}<br>
    <div class="pw-field">
        {{ form.new_password1 }}<br><br>
        {% include "partials/password_rule.html" %}
    </div>

    {{ form.new_password2.label_tag }}<br>
    {{ form.new_password2 }}<br><br>


    <button type="submit">変更する</button>
</form>
{% else %}
<p>このパスワード設定リンクは無効です。もう一度やり直してください。</p>
<a href="{% url 'app:password_reset' %}">パスワード再設定画面へ</a>
{% endif %}
{% endblock %}