{% extends 'base.html' %}
{% block content %}
  <h2>カテゴリをリストに追加</h2>

  <a href="{% url 'app:itemcategory_add' store.store_id %}" 
    class="btn btn-secondary mb-3">
    ＋カテゴリを作成
  </a>

  <form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
  </form>


  <div class="d-flex align-items-center gap-2 mt-3">
    <div>    
      <button type="submit" class="btn btn-primary">リストに追加する</button>
    </div>
    <a href="{% url 'app:mylist' store_id=view.kwargs.store_id %}" class="link-style">キャンセル</a>
  </div>

{% endblock %}