{% extends 'base.html' %}
{% block content %}
<h2>{{ store.store_name }}のカテゴリ一覧</h2>

<a href="{% url 'app:itemcategory_add' store.store_id %}"
   style="display: inline-block; padding: 10px; background-color: #eee; border: 1px solid #ccc; margin-bottom: 20px;">
   +カテゴリを追加
</a>

<ul>
  {% for category in categories %}
    <li>
      <a href="{% url 'app:category_item_list' store.store_id category.id %}">
        {{ category.item_category_name }}
      </a>
    </li>
  {% empty %}
    <li>まだカテゴリがありません</li>
  {% endfor %}
</ul>

{% endblock %}