{% extends 'base.html' %}
{% block content %}
{% include 'partials/menu.html' %}
<h2>マイリスト</h2>

<div>
    {% for store in store_list %}
    <p>
        <a href="{% url 'app:mylist' store_id=store.store_id %}">
            {{ store.store_name }}
        </a>
    </P>
    {% empty %}
    <P>まだお店が登録されていません</P>
    {% endfor %}
</div>

<h3>お店を追加</h3>
<form method="post">
    {% csrf_token %}
    {{ form.store_name.label_tag }}
    {{ form.store_name }}
    <button type="submit">お店を追加</button>
</form>

{% for store in store_list %}
<form method="post" action="{% url 'app:store_delete' store.store_id %}" onsubmit="return confirm('ショッピングリストも一緒に消えてしまいますがよろしいですか？');">
    {% csrf_token %}
    <button type="submit">削除</buttom>
</form>
{% endfor %}


{% endblock %}