{% extends 'base.html' %}
{% block content %}

<div class="container d-flex justify-content-center">
  <div style="width: 100%; max-width: 550px;">

    <h2 class="text-center mb-4">マイショッピングリスト</h2>

    {% for store in own_stores %}
      <div class="mylist-item-box d-flex justify-content-between align-items-center py-2 px-3 mb-3">
        <a href="{% url 'app:mylist' store_id=store.store_id %}" class="hover-link text-decoration-none text-dark w-100 fs-5 fw-bold">
          {{ store.store_name }}
        </a>
        <form method="post" action="{% url 'app:store_delete' store_id=store.store_id %}" onsubmit="return confirm('ショッピングリストも一緒に消えてしまいますがよろしいですか？');" class="ms-2 mb-0 align-self-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger category-delete-btn">削除</button>
        </form>
      </div>
    {% empty %}
      <p class="text-center">まだマイショッピングリストが登録されていません</p>
      <p class="text-danger fw-bold text-center">
        まずは「マイショッピングリストを追加」ボタンで、<br>
        最初のショッピングリストを作成してみましょう！
      </p>
    {% endfor %}

    <hr class="my-4">

    <h2 class="text-center mb-4">招待されているショッピングリスト</h2>

    {% for store in shared_stores %}
      <div class="mylist-item-box d-flex justify-content-between align-items-center py-2 px-3 mb-3">
        <a href="{% url 'app:mylist' store_id=store.store_id %}" class="hover-link text-decoration-none text-dark w-100 fs-5 fw-bold">
          {{ store.store_name }}
        </a>
      </div>
    {% empty %}
      <p class="text-center">招待されているショッピングリストはありません</p>
    {% endfor %}


    <h3 class="text-center mt-5">マイショッピングリストを追加</h3>
    <form method="post" class="list-add-form mt-2">
      {% csrf_token %}
      <div class="me-2 flex-grow-1">
        {{ form.store_name }}
      </div>
      <button type="submit" class="btn btn-primary add-list-btn">マイショッピングリストを追加</button>
    </form>

  </div>
</div>
{% endblock %}
