{% extends 'base.html' %}
{% load form_tags %}

{% block content %}
  <h2 class="mb-4">カテゴリを作成</h2>

  <form method="post" class="mb-3">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.item_category_name.label_tag }}
      {{ form.item_category_name|add_class:"form-control form-control-lg w-25" }}
      {% for error in form.item_category_name.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary me-2">追加</button>
      <a href="{% url 'app:category_add' store_id=store.store_id %}" class="btn btn-outline-secondary me-2">キャンセル</a>
    </div>
  </form>
{% endblock %}
