{% extends 'base.html' %}
{% block content %}
  <h2 class="mb-4">カテゴリを追加</h2>

  <form method="post" class="mb-3">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.item_category_name.label_tag }}
      {{ form.item_category_name }}
    </div>

    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary me-2">追加</button>
      <a href="{% url 'app:mylist' store_id=store.store_id %}" class="btn btn-outline-secondary me-2">キャンセル</a>
    </div>
  </form>
{% endblock %}
