{% extends 'base.html' %}
{% load static %}

{% block body_class %}no-footer-page no-header-page portfolio-page{% endblock %}

{% block content %}
<div class="container mt-4 d-flex flex-column align-items-center">
  <h2 class="mb-4">作品No.1 Shopli</h2>

<div class="row justify-content-center gx-3 gy-3">
  <div class="col-12 col-md-6 col-lg-5">
    <a href="{% static 'img/screenshot_home.png' %}" target="_blank">
      <img src="{% static 'img/screenshot_home.png' %}"
          alt="ホーム画面のスクリーンショット"
          style="width:100%;max-width:700px;border:1px solid #ccc;border-radius:8px;margin-bottom:20px;">
    </a>
  </div>
  
  <div class="col-12 col-md-6 col-lg-5">
    <a href="{% static 'img/screenshot_list.png' %}" target="_blank">
      <img src="{% static 'img/screenshot_list.png' %}"
          alt="リスト画面のスクリーンショット"
          style="width:100%;max-width:700px;border:1px solid #ccc;border-radius:8px;margin-bottom:20px;">
    </a>
  </div>

  <p class="text-center mt-4">
    このアプリは、買い物リストを「店舗」や「予定別」「スーパーまとめ買い」など、ざっくりとしたカテゴリで自由に管理できるWebアプリです。<br>
    家族や友人、職場の仲間など複数人との共有にも対応しています。また、誰でもかんたんに使えるよう、シンプルさにこだわりました。
  </p>

  
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <a href="{% static 'docs/plan2.pdf' %}" target="_blank">企画書(PDF)</a>
    <a href="{% static 'docs/ui_design2.pdf' %}" target="_blank">画面設計(PDF)</a>
    <a href="{% static 'docs/flow2.svg' %}" target="_blank">画面遷移図(SVG)</a>
    <a href="{% static 'docs/er2.svg' %}" target="_blank">ER図(SVG)</a>
  </div>

  <a href="{% url 'app:home' %}"
    class="btn btn-primary mt-5 px-3 py-2 d-inline-block mx-auto"
    style="max-width: 220px;">
    このアプリにアクセス
  </a>
  

</div>
{% endblock %}