
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div>
    <h3 class="text-center mb-4">ログイン</h3>
    <div class="card p-4" style="width: 400%; max-width: 400px;">  
      
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.email.label_tag }}<br>
          {{ form.email|add_class:"form-control" }}<br>
        </div>

        <div class="mb-3">
          <label for="id_password">パスワード</label><br>

          <div class="d-flex align-items-center">
            <div class="position-relative">
              {{ form.password|add_class:"form-control" }}
              <span onclick="togglePassword()" style="position: absolute; right: 10px; top: 10px; cursor: pointer;">
                <i id="eye-icon" class="fa-regular fa-eye-slash"></i>
              </span>
            </div>
          </div>

          <div class="ms-2" style="margin-top: -2px;"> 
              {% include "partials/password_rule.html" %}
          </div>
        </div>        
        <button type="submit" class="btn btn-primary w-75 mx-auto d-block">ログインする</button>
      </form>
      <div class="mt-2 text-center">
        <a href="{% url 'app:password_reset' %}">パスワードを忘れた方はこちら</a>
      </div>
      <div class="mt-1 text-center">
        <a href="{% url 'app:regist' %}">新規登録はこちら</a>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword() {
    const pwInput = document.getElementById("id_password");
    const eyeIcon = document.getElementById("eye-icon");

    if (pwInput.type === "password") {
      pwInput.type = "text";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    } else {
      pwInput.type = "password";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    }
  }
</script>


{% endblock %}
