
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div>
    <h3 class="text-center mb-4">ログイン</h3>
    <div class="card p-4" style="width: 400%; max-width: 400px;">  
      
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.email.label_tag }}<br>
          {{ form.email|add_class:"form-control" }}<br>
        </div>

        <div class="mb-3">
          <label for="id_password">パスワード</label><br>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

          <div class="position-relative">
            {{ form.password|add_class:"form-control" }}<br>
            <span onclick="togglePassword()" style="position: absolute; right: 10px; top: 10px; cursor: pointer;">
              <i class="fa-solid fa-eye"></i>
            </span>
          </div>
            {% include "partials/password_rule.html" %}
        </div>
        <button type="submit" class="btn btn-primary w-75 mx-auto d-block">ログインする</button>
      </form>
      <div class="mt-2 text-center">
        <a href="{% url 'app:password_reset' %}">パスワードを忘れた方はこちら</a>
      </div>
      <div class="mt-1 text-center">
        <a href="{% url 'app:regist' %}">新規登録はこちら</a>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword() {
    const pwInput = document.getElementById("id_password");
    if (pwInput.type === "password") {
      pwInput.type = "text";
    } else {
      pwInput.type = "password";
    }
  }
</script>

{% endblock %}
