{% extends 'base.html' %}
{% block content %}

<form method="post" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" name="check_item_id" value="{{ item.id }}">
    <button type="submit">
      {% if item.status %}✔️{% else %}❌{% endif %}
    </button>
</form>

{% if can_edit %}
  <h3>アイテムを追加</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <select name="category_id">
      {% for category in category_item_map.keys %}
        <option value="{{ category.id }}">{{ category }}</option>
      {% endfor %}
    </select>
    <button type="submit">追加</button>
  </form>
{% endif %}

{% endblock %}